._icon {
    width: 70px;
    height: 70px;
}

.our_goals_h {
    display: none;
}

.our_goals {

    padding: 0;
    margin: 0;

    display: flex;       
    justify-content: space-between;
    flex-wrap: wrap;

    /*@include for-tablet{
        display: flex;       
        justify-content: space-between;
        flex-wrap: wrap;
    }

    @include for-desctop{
        display: flex;       
        justify-content: space-between;
        flex-wrap: wrap;
    }    */

    &__top-section {
        display: flex;
        background-color: var(--button-color);
        border-radius: 4px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
        height: 120px;

        @include for-phone{
            width: 450px;            
        }
        
        @include for-tablet{
            width: 354px;            
        }

        @include for-desctop{
            width: 270px;
        }

        .icon {
            width: 70px;
            height: 70px;
        }
    }

    li {
        @include for-phone{
            width: 450px;
            height: 226px;
            margin-top: 30px;
        }

        @include for-tablet{
            width: 354px;
            height: 251px;
            margin-top: 15px;
        }

        @include for-desctop{
            flex-basis: 270px;
        }        
    }

    h3 {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--main-color);
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--contacts-color);
        margin: 0;
    }
}