:root {
    --main-color-hover: #2196f3;
    --main-color: #212121;
    --main-background-color: #2F303A;
    --main-color-fones: #ffffff;
    --banner-background-color: #2F303A66;
    --contacts-color: #757575;
    --button-color: #f5f4fa;
    --icons-color: #AFB1B8;
    --text-roboto: "Roboto", sans-serif;
    --text-raleway: "Raleway", sans-serif;

    --transition-time: 250ms;
}